* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: rgba(88, 128, 106, 0.671);
  color: rgba(0, 0, 0, 0.911);
  padding: 10px;
}

a {
  color: rgba(0, 0, 0, 0.411);
}

a:hover {
  color: aliceblue;
}

a:active {
  color: rgb(91, 124, 185);
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
